<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.FitTogether.dao.FollowDAO">
    <select id="getFollowById" parameterType="int" resultType="com.example.FitTogether.dto.FollowDTO">
        SELECT * FROM follows WHERE id = #{id}
    </select>
    <select id="getFollowersByUserId" parameterType="int" resultType="com.example.FitTogether.dto.FollowDTO">
        SELECT * FROM follows WHERE following_id = #{userId}
    </select>
    <select id="getFollowingByUserId" parameterType="int" resultType="com.example.FitTogether.dto.FollowDTO">
        SELECT * FROM follows WHERE follower_id = #{userId}
    </select>
    <insert id="insertFollow" parameterType="com.example.FitTogether.dto.FollowDTO">
        INSERT INTO follows (follower_id, following_id, created_at) VALUES (#{followerId}, #{followingId}, #{createdAt})
    </insert>
    <delete id="deleteFollow" parameterType="int">
        DELETE FROM follows WHERE id = #{id}
    </delete>
</mapper>