<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.FitTogether.dao.PostDAO">
    <select id="getPostById" parameterType="int" resultType="com.example.FitTogether.dto.PostDTO">
        SELECT * FROM posts WHERE id = #{id}
    </select>
    <select id="getPostsByUserId" parameterType="int" resultType="com.example.FitTogether.dto.PostDTO">
        SELECT * FROM posts WHERE user_id = #{userId}
    </select>
    <insert id="insertPost" parameterType="com.example.FitTogether.dto.PostDTO">
        INSERT INTO posts (user_id, description, image_url, created_at, updated_at) VALUES (#{userId}, #{description}, #{imageUrl}, #{createdAt}, #{updatedAt})
    </insert>
    <update id="updatePost" parameterType="com.example.FitTogether.dto.PostDTO">
        UPDATE posts SET description = #{description}, image_url = #{imageUrl}, updated_at = #{updatedAt} WHERE id = #{id}
    </update>
    <delete id="deletePost" parameterType="int">
        DELETE FROM posts WHERE id = #{id}
    </delete>
</mapper>